.radio {
    display: flex;
    margin-right: 15%;
    /*appearance: none;*/
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    margin-bottom: 15%;
}

.options {
    margin-left: 100px;
}
