.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    margin-left: 15%;
}

.error {
}

.input {
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
}

.button {
    margin-left: 1%;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    margin-top: 2%;
    margin-bottom: 0.5%;
    margin-left: 15%;
}

.greeting {
    margin-top: 0.5%;
    margin-left: 15%;
}
